{% extends 'base.html' %}

{% block full_title %}Idea Party{% endblock %}

{% block content %}
    <p>Hello, World!</p>
    {% if user.is_authenticated %}
        <a href="{% url 'ideas:idea_new' %}">Feeling inspired? Add your idea!</a>
    {% endif %}

    {% for idea in recent_ideas %}
        <div class="idea-tile">
            <h2>{{ idea.title }}</h2>
        </div>
    {% endfor %}
{% endblock %}
